@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Black.ttf') format('truetype');
    /* add additional src properties for other font formats */
    font-weight: black;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-BlackItalic.ttf') format('truetype');
    /* add additional src properties for other font formats */
    font-weight: black;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Bold.ttf') format('truetype');
    /* add additional src properties for other font formats */
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-BoldItalic.ttf') format('truetype');
    /* add additional src properties for other font formats */
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Italic.ttf') format('truetype');
    /* add additional src properties for other font formats */
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Light.ttf') format('truetype');
    /* add additional src properties for other font formats */
    font-weight: light;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-LightItalic.ttf') format('truetype');
    /* add additional src properties for other font formats */
    font-weight: light;
    font-style: italic;
  }

  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.ttf') format('truetype');
    /* add additional src properties for other font formats */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Thin.ttf') format('truetype');
    /* add additional src properties for other font formats */
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-ThinItalic.ttf') format('truetype');
    /* add additional src properties for other font formats */
    font-weight: lighter;
    font-style: italic;
  }

