body {
  background-color: #D4D4D4;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerList {
  background-color: #F5F5F5;
  margin: 0;
  padding: 20px;
  display: flex;
}

.headerDiv {
  width: 100%;
}

.headerList ul{
  list-style: none;
}

.headerList li {
  display: inline-flex;
  margin-right: 80px;
  font-size: x-large;
}

.headerList li a {
  text-decoration: none;
  color: black;
}

.footerList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  width: 100%;
  background-image: url("images/splash.webp");
  background-size: cover;
  background-position: 50% 25%;
}

@media (min-width: 767px) {
  .filterBar {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin: 10px;
  }
}

@media (max-width: 767px) {
  .filterBar {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin: 10px;
  }
}

@media (max-width: 767px) {
  .hideMobile {
    display: none;
  }
}

@media (min-width: 767px) {
  .hideDesktop {
    display: none;
  }
}

.filterButtonMobile {
  text-align: end;
}

.blogCard {
  margin: 10px;
}

.blogCard:hover {
  transform: scale(1.0055);
}

.cardContainer {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 350px);
}

.cardContainer a {
  text-decoration: none;
}

@media (max-width: 1427px) {
  .cardContainer {
    grid-template-columns: repeat(3, 350px);
  }
}

@media (max-width: 1093px) {
  .cardContainer {
    grid-template-columns: repeat(2, 350px);
  }
}

@media (max-width: 767px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}

.splashContainer {
  background-color: #F5F5F5;
}

.footerContainer {
  margin: 10px;
}

.footerContainer a{
  text-decoration: none;
}

.contactinfoCard {
  background-color: white;
}

.searchHome {
  margin-left: 10px;
}

.portfolioButtons {
  margin: 20px;
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
}
