body {
  background-color: #D4D4D4;
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerList {
  background-color: #F5F5F5;
  margin: 0;
  padding: 20px;
  display: flex;
}

.headerDiv {
  width: 100%;
}

.navButton:hover {
  transform: scale(1.025);
}

.headerList ul{
  list-style: none;
}

.headerList li {
  display: inline-flex;
  margin-right: 80px;
  font-size: x-large;
}

.headerList li a {
  text-decoration: none;
  color: black;
}

.footerList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  width: 100%;
  background-image: url("images/splash.webp");
  background-size: cover;
  background-position: 50% 25%;
}

.splashPortfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  margin-bottom: 10px;
  background-image: url("images/splash.webp");
  background-size: cover;
  background-position: 50% 26%;
}

@media (min-width: 767px) {
  .filterBar {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin: 10px;
  }
}

@media (max-width: 767px) {
  .filterBar {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin: 10px;
  }
}

@media (max-width: 987px) {
  .hideTablet {
    display: none;
  }
}

.portfolioBar {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .hideMobile {
    display: none;
  }
}

@media (min-width: 767px) {
  .hideDesktop {
    display: none;
  }
}

@media (max-width: 767px) {
  .portfolioButtonsMobile {
    display: flex;
    text-align: center;
  }
}

.filterButtonMobile {
  text-align: end;
}

.blogCard {
  margin: 10px;
}

.blogCard:hover {
  transform: scale(1.0055);
}

.cardContainer {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 350px);
}

.cardContainer a {
  text-decoration: none;
}

@media (max-width: 1427px) {
  .cardContainer {
    grid-template-columns: repeat(3, 350px);
  }
}

@media (max-width: 1093px) {
  .cardContainer {
    grid-template-columns: repeat(2, 350px);
  }
}

@media (max-width: 767px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}

.splashContainer {
  background-color: #F5F5F5;
}

.footerContainer {
  margin: 10px;
}

.footerContainer a{
  text-decoration: none;
}

.contactinfoCard {
  background-color: white;
}

.searchHome {
  margin-left: 10px;
}

.porfolioButtons {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

@media (max-width: 767px) {
  .porfolioButtons {
    display: none;
  }
}

.mobilePortfolioButtons {
  display: none;
}

@media (max-width: 767px) {
  .mobilePortfolioButtons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.portfolioPageNums {
  display: flex;
  align-items: center;
  text-align: center;
}

.portfolioPageNums  a{
  text-decoration: none;
  color: black;
}

.gallery {
  margin-top: 100px;
}

.galleryImage {
  width: 100%;
  height: auto;
  max-height: 190px;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

.galleryImage:hover {
  transform: scale(1.0055);
}

.portfolioLabel {
  text-align: center;
  font-weight: lighter;
  text-decoration: none;
}

.splashButton {
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.indexPageNums {
  text-decoration: none;
  color: black;
}

.indexPageNums:hover {
  text-decoration: none;
  color: grey;
  cursor: pointer;
}

.displayPerPage {
  display: flex;
  justify-content: center;
  margin-right: 5px;
  align-self: center;
  align-items: center;
  text-align: center;
}

.chevronButton {
  cursor: pointer;
}

.portfolioContainer {
  margin-top: 35px;
  margin-bottom: 75px;
}

.contactCard {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contactForm {
  background-color: whitesmoke;
  padding: 30px;
  margin: auto;
  border-radius: 5px;
}

.contactContainer {
  margin-top: 70px;
  margin-bottom: 150px;
}

@media (max-width: 767px) {
  .contactContainer {
    margin-top: 10px;
    margin-bottom: 55px;
  }
}

@media (max-width: 767px) {
  .formButton {
    padding-top: 10px;
    text-align: center;
  }
}

#root > div > div:nth-child(2) > div > div > div:nth-child(1) > span > div > div > div.ui.list > a {
  text-decoration: none;
  color: grey;
}