body {
  background-color: #D4D4D4;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background-color: #D4D4D4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerList {
  background-color: #F5F5F5;
  margin: 0;
  padding: 20px;
  display: flex;
}

.headerList ul{
  list-style: none;
}

.headerList li {
  display: inline-flex;
  margin-right: 80px;
  font-size: x-large;
}

.headerList li a {
  text-decoration: none;
  color: black;
}

.footerList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  width: 100%;
  background-image: url("images/splash.webp");
  background-size: cover;
  background-position: 50% 25%;
}

.filterBar {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin: 10px;
}

.blogCard {
  margin: 10px;
}

.blogCard:hover {
  transform: scale(1.0055);
}

.cardContainer {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 350px);
}

.footerContainer {
  margin: 10px;
}